@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue';
}

.container-grid {
    width: 1200px;
    margin: 0 auto;
    /*USADO PARA CENTRALIZAR*/
}


/*TAG NATIVA*/

header {
    background-color: #F9003D;
    height: 80px;
}

.conteudo-header {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}

.menu-header {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.menu-header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

.banner {
    background-image: url(../img/imagem-fundo-banner.jpg);
    height: 768px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /*VAI PEGAR TODO TAMANHO*/
}

.conteudo-banner {
    display: flex;
    align-items: flex-end;
    height: 100%;
}

.texto-banner {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-around;
}

h1 {
    color: white;
    font-size: 80px;
}

.linha-amarela {
    border: solid 1px #ffAf00;
}

.titulo-senai {
    font-family: 'Courier New', Courier, monospace;
    color: #F9003D;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 600;
    /*DEIXAR EM NEGRITO*/
}

.mouse {
    width: 80px;
}

.sobre-projetos {
    background-color: #080324;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sobre-projetos h2 {
    color: #F9003D;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 40px;
}

.conteudo-sobre {
    display: flex;
    justify-content: space-between;
}

.imagem-sobre {
    width: 40%;
}

.texto-sobre {
    width: 50%;
}

.texto-sobre p {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    /*TEXTO ALINHADO JUSTIFICADO*/
}

.texto-participantes {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}

.conteudo-sobre h3 {
    color: #FFAF00;
    font-size: 45px;
    font-weight: 500;
}

.info {
    background-image: url(../img/imagem-fundo-info.jpg);
    background-repeat: no-repeat;
    background-position: center;
    /*centraliza a limagem*/
    background-size: cover;
    padding: 40px 0;
}

.conteudo-info {
    display: flex;
    justify-content: space-between;
}

.card-info {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
}

.card-info h3 {
    color: white;
    font-size: 20px;
}

.card-info p {
    color: #A259F7;
    font-size: 22px;
    font-weight: 600;
    /*PESO DA FONTE, NEGRITO*/
    border: solid 2px #A259F7;
    width: 250px;
    padding: 30px 0;
    text-align: center;
}

.mapa {
    width: 309px;
    height: 265px;
}
